html, body {
  background-color:#ffffff;
  padding:0;
  margin:0;
  height: 100%;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 12px;
}

.app-container {
  height: 100%;
}

.tab-wrapper {
  height: 100%;
}

.app-tabs {
  &.react-tabs {
    height: 100%;
    overflow: hidden;
    margin: 0;
    position: relative;

    > ul {
      margin: 0;
      background-color: #f3f3f3;

      > li {
        margin-left: 0px !important; 
        margin-top: 2px;
        bottom: 0; 
        border-radius: 0 !important;
      }
    }
  }
}

.react-tabs {
  > ul {
    > li:first-child {
      margin-left: 5px !important;
    }
  }
}

.ReactTabs__Tab--selected {
  background-color: white !important;
}

.app-tab-panel {
  overflow-y: scroll;
  height: 100%;
}

.gh-link {
  display: none;

  @media (min-width: 380px) {
    display: block;
  }

  list-style: none;
  float: right;
  padding: 6px 6px 0 0;
  a {
    text-decoration: none;
    &:visited {
      color:rgb(0, 0, 238);
    }
  }

  .icon-baker-logo {
    position: absolute;
    height: 13px;
    width: 9px;
  }
}

input[type="radio"], input[type="checkbox"] {
  margin: 3px 0.5ex;
}

.Resizer {
  background: #000;
  opacity: .2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
    
  &:hover {
      -webkit-transition: all 2s ease;
      transition: all 2s ease;
  }
  
  &.vertical {
      width: 11px;
      margin: 0 -5px;
      border-left: 5px solid rgba(255, 255, 255, 0);
      border-right: 5px solid rgba(255, 255, 255, 0);
      cursor: col-resize;
  }
  
  &.vertical:hover {
      border-left: 5px solid rgba(0, 0, 0, 0.5);
      border-right: 5px solid rgba(0, 0, 0, 0.5);
  }
  
  &.disabled {
    cursor: not-allowed;
  }
  
  &.disabled:hover {
    border-color: transparent;
  }
}
