html, body {
  background-color:#ffffff;
  padding:0;
  margin:0;
  height: 100%;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 12px;
}

.app-container {
  height: 100%;
}

.tab-wrapper {
  height: 100%;
}

.app-tabs {
  &.react-tabs {
    height: 100%;
    overflow: hidden;
    margin: 0;

    > ul {
      margin: 0;
      background-color: #f3f3f3;

      > li {
        margin-left: 0px !important; 
        margin-top: 2px;
        bottom: 0; 
        border-radius: 0 !important;
      }
    }
  }
}

.react-tabs {
  > ul {
    > li:first-child {
      margin-left: 5px !important;
    }
  }
}

.ReactTabs__Tab--selected {
  background-color: white !important;
}

.app-tab-panel {
  overflow-y: scroll;
  height: 100%;
}

.gh-link {
  list-style: none;
  float: right;
  padding: 6px 6px 0 0;
  a {
    text-decoration: none;  
  }
}

input[type="radio" i], input[type="checkbox" i] {
  margin: 3px 0.5ex;
}
