html, body {
  background-color:#ffffff;
  padding:0;
  margin:0;
  height: 100%;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 12px;
}

.app-container {
  height: 100%;
}

.tab-wrapper {
  height: 100%;
}

.app-tabs.react-tabs {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.app-tabs.react-tabs > ul {
  margin: 0;
  background-color: #f3f3f3;
}

.ReactTabs__Tab--selected {
  background-color: white !important;
}

.app-tabs.react-tabs > ul > li {
  margin-left: 0px !important; 
  margin-top: 2px;
  bottom: 0; 
  border-radius: 0 !important;
}

.react-tabs > ul > li:first-child {
  margin-left: 5px !important;
}

.app-tab-panel {
  overflow-y: scroll;
  height: 100%;
}

.gh-link {
  list-style: none;
  float: right;
  padding: 6px 6px 0 0;
}

.gh-link > a {
  text-decoration: none;
}