html, body {
  background-color:#ffffff;
  padding:0;
  margin:0;
}

header {
  position:fixed;
  left:0; right:0;
  background-color:#fff;
  border: solid 1px #ccc;
  padding: 0.5em;
  z-index: 10000;
}

footer {
  position:fixed;
  left:0; right:0; bottom:0;
  background-color:#fff;
  border: solid 1px #ccc;
  padding: 0.5em;
  z-index: 10000; 
}

header a {
  float:right;
  text-decoration: none;
}

ul.network-traces {
  margin:0;
  padding:40px 0 40px 0;
}

ul.network-traces > li {
  list-style-type:none;
  border-bottom:solid 1px #ccc;
  padding: 0.5em;
}

ul.network-traces > li.no-trace {
  border-bottom: none;
}

ul.network-traces > li.inbound {
  background-color: #F8F8F8;
}

ul.network-traces > li .op-label {
  padding:0.2em;
  word-break:break-all;
}
ul.network-traces > li .message-inline-details {
  float: right;
  color: #8C8C8C;
}

ul.network-traces > li.warning {
  background-color: #FFEFEF !important;
  border-color: #FFD8D7 !important;
}

.ping-checkbox {
  display: inline-block;
  margin-left: 20px;
}

/* customize react tabs */

.react-tabs {
  margin-left: -0.5em;
  margin-right: -0.5em;
  margin-top: 0.5em;
}

.react-tabs > ul > li {
  border-radius: 0 !important;
  background-color: inherit !important;
}

.react-tabs > ul > li:first-child {
  margin-left: 9px !important;
}

.stack-trace {
  margin: 1em;
  font-size: inherit;
}

ul.warnings-list {
  margin: 0;
  padding: 0;
}

ul.warnings-list > li {
  list-style-type:none;
  padding: 0.5em;
}

.filter {
  display: inline-block;
  margin-left: 10px;
}